<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


	<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">4Cast</a></h1>
					<span style="font-size:200%; color:white; text-shadow: 2px 2px 1px gray;" class="tag">OUT-COMPUTING POVERTY</span>
					
				</div>
			</div>
		</div>
	<body class="homepage">

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Bigger data. Better farming. Less poverty.</h2>
				</header>
				<p>4Cast is combining Microsoft technology and <a href="#">big data</a> to bring better weather forecasts to farmers in developing countries.
				</p>
				<p>
				 Anyone with a simple cell phone that has SMS capabilities can freely access <a href="{{url_for('about')}}">4Cast technology</a>, meaning that we can help farmers even in the world's most impovershed areas. By providing a better understanding of when to plant crops in order to receive the most bountiful harvests, 4Cast is helping to raise many people above the poverty line.
				</p>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"></span>
						<h3>The Problem</h3>
						<p>Farmers in rural areas rely heavily upon their crops. However, global warming has negatively impacted weather, making it more difficult to predict weather patterns. Lack of technology to predict weather has a massive impact on these farmers.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"></span>
						<h3>The 4Cast Solution</h3>
						<p>4Cast is bringing valuable, and more accurate, weather predictions to farmers in impovershed regions of the world. Since the economies of developing nations consist primarily of agriculture, 4Cast can have a large impact on outsmarting poverty.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"></span>
						<h3>Our Technology</h3>
						<p>4Cast builds upon state-of-the-art technology developed by Microsoft, Twilio, and more. By integrating these technologies, 4Cast is working to make the world a better place. Read more about how our technology works here.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>

	<!-- 
		<div id="main">
			<div id="content" class="container">

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic01.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
				</div>
			
			</div>
		</div>
-->
	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Saving our planet, lifting people out of poverty, advancing economic growth... these are one and the same fight. We must connect the dots between climate change, water scarcity, energy shortages, global health, food security and women's empowerment. Solutions to one problem must be solutions for all.&rdquo; - Ban Ki-moon</blockquote>
				</section>
			</div>
		</div>

	{% endblock %}