<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1 style=""><a href="#">Using 4Cast</a></h1>
				</div>
			</div>
		</div>
	<!-- Header -->
	<body> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
						<h2>Easy as 1,2,3...</h2>
						<span class="byline">Anyone in the world with a mobile phone, as long as it can send text messages, can use 4Cast in a matter of seconds</span>
					</header>

					<ol>
						<li><b>1. Send a text message to 1-970-964-6126</b></li>
						<li><b>2. 4Cast will determine your location automatically </b></li>
						<li><b>3. You will receive a text message from 4Cast with predictions of future rainfall, temperatures, and more for the next week </b></li>
						<li><b>4. That's it! </b></li>


					</ol>
					<p>Often times, the most influential technology in the world possesses an seemingly deceptive simplicity. But the power of a text message cannot be over-stated. </p>
									

				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Software is a great combination between artistry and engineering.&rdquo; </blockquote>
					<blockquote>-Bill Gates</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

{% endblock %}